/* Flowbite */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other */
body {
    font-family: "Roboto Mono", sans-serif;
}

:root {
    /* Soft Olive */
    --light-3: #8b9b73;

    /* Pale Olive */
    --light-2: #c7d3b3;

    /* Cream White */
    --light-1: #f8f6ee;

    /* Text */
    --text: #0e0e0c;

    /* Beige (background) */
    --background: #d7c7a2;
}
